
.div-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 50%;
}
html {
  height: 0.5px;
}
body {
  background-image: linear-gradient(
    to bottom right,

    #0559f5,
    #ff77cc
  );
}

/* Agregado */
.div-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  height: 100%;
}

.div-services {
  width: 100%;
  height: 200px;
}

.img-services {
  width: 100px;
  height: 100px;
}
